#cont{
    margin-top: 150px;
    
}
.tit{
    padding-bottom: 40px;
}

.bigtit{
    font-family:""Heebo"",sans-serif;
}
.test{
    margin-bottom: 50px;
    margin-top: 80px;
}
.titre{
    text-align: center;
}