h1{
    text-align: center;
    color : #fed136;
}
button{
    margin-bottom: 50px;
    
}
#but{
   margin-left: auto;
   margin-right: auto;

    
}
figure{
    background-color :#fff;
    padding : 30px 30px 30px ;
}